<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--do not print the logback status messages -->
    <!--<statusListener class="ch.qos.logback.core.status.NopStatusListener" />-->
    <appender name="FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/nacid-backoffice-core-be-test.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5level %logger - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>logs/nacid-backoffice-core-be-test.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
        </rollingPolicy>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender" >
        <target>System.err</target>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %msg%n
            </Pattern>
        </layout>
        <!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>-->
    </appender>

    <logger name="bg.duosoft" level="debug" />
    <logger name="net.duosoft" level="debug" />
    <logger name="com.duosoft" level="debug" />
    <logger name="org.hibernate.type" level="trace" />


    <root level="warn">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>